.my-fab{
    position: absolute !important;
    bottom: 25px;
    right: 25px;
}

.my-modal{
    height: 70vh;
}

.my-dropzone{
    text-align: center;
}

.my-row{
    margin-top: auto;
    flex-wrap: wrap-reverse;
}