.wrapper {
    position: relative;
    margin-bottom: 1.5rem;
}

.dropzone {
    // border-width: rem(1px);
    // padding-bottom: rem(50px);
}

.icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

