{% extends 'index.html' %}

{% block title %}researcher{% endblock %}

{% block content %}

<!-- FORM RESEARCHER
    justify-content-center for horizontal
    align-items-center for vertical -->
<div class="container d-flex justify-content-center align-items-center">

 <form action="/register" method="POST" class="mx-auto">
     <!-- name -->
<div class="row g-1 justify-content-center">

  <div class="col-4">
    <label for="inputNameResearcher" class="col-form-label">Name</label>
    <input type="text" name="nameResearcher" id="inputNameResearcher" class="form-control" aria-describedby="researcherHelpInline">
   </div>


    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>

    <!-- surname -->
    <div class="col-4">
    <label for="inputSurnameResearcher" class="col-form-label">Surname</label>
    <input type="text" name="surnameResearcher" id="inputSurnameResearcher" class="form-control" aria-describedby="researcherSurnameHelpInline">
   </div>


    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>

    <!-- Email -->
    <div class="col-4">
    <label for="inputEmailResearcher" class="col-form-label">Email</label>
    <input type="email" name="emailResearcher" id="inputEmailResearcher" placeholder="name@example.com" class="form-control" aria-describedby="researcherEmailHelpInline">
   </div>



    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>

    <!-- Password -->
    <div class="col-4">
    <label for="inputPasswordResearcher" class="col-form-label">Password</label>
    <input type="password" name="passwordResearcher" id="inputPasswordResearcher" placeholder="Must be 8-20 characters long." class="form-control" aria-describedby="researcherPasswordHelpInline">
   </div>

    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>

    <!-- Submit -->
    <div class="container gy-2 d-flex justify-content-center align-items-center col-4">
    <input type="submit" name="submitResearcher" value="Submit" id="inputSubmitResearcher" class="btn btn-primary" >
   </div>

</div>
</form>
</div>


{% endblock %}