.App{
  height: 100%;
  background-color: #f7f9ff;
}

.Home {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


$primary-color: #007bff;

// Definisci altre variabili di colore se necessario
$secondary-color: #6c757d;
$accent-color: #ff5722;

$color-blue: '#eef3ff';
$color-light-blue: '#dce4f5';
$color-lighter-blue: '#b9c7e2';
$color-blue-gray: '#94a8d0';
$color-gray: '#748dc1';
$color-dark-gray: '#5f7cb8';
$color-darker-gray: '#5474b4';
$color-navy: '#44639f';
$color-dark-navy: '#39588f';
$color-deep-navy: '#2d4b81';

.my-card{
  cursor: pointer;
}


.my-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Aggiunge un'ombra leggera al passaggio del mouse */
}